*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
#card-blue-badge{
    background-image: url('./assets/blue.png');
}
#card-red-badge{
    background-image: url('./assets/red.png');
}
.navbar-nav a:hover{
    cursor: pointer;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: crimson;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(128, 10, 34);
}
.spacer{
    position: relative;
    height: 56px;
    width: 100%;
}
#about{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(./assets/keyboard.JPG);
    background-size: cover;
    display: flex;
    justify-content: center;
    color: crimson;
}
#home-content{
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    top: 35vh;
    height: fit-content;
}
#home-content2{
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    top: 32vh;
    transition: 700ms;
    height: fit-content;
}
#changing-text{
    font-family: 'Roboto Mono', monospace;
    text-shadow: 2px 2px 5px black;
}
#title{
    font-family: 'Roboto Mono', monospace;
    position: relative;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
#title-text2{
    opacity: 100;
    pointer-events: all;
    outline: none;
    transition: 500ms;
}
.know-me{
    opacity: 0;
    /* transition: opacity 700ms; */
    /* transition: left 700ms; */
    padding: 5px;
    margin-top: 20PX;
    width: fit-content;
    pointer-events: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    border: none;
    background-color: crimson;
    position: relative;
    color: white;
}
.know-me:hover{
    background-color: rgb(160, 14, 43);
}
h2{
    text-align: center;
    color: crimson;
    font-size: 50px;
    margin: 10px 0;
}
.back{
    padding: 0 20px;
    height: 100%;
    background-color: white;
}
#images{
    display: flex;
    justify-content: space-evenly;
}
.card img{
    width: 100%;
    border-radius: inherit;
    opacity: 100%;
}
.card-text{
    position: absolute;
    color: white;
    text-align: center;
    top: 8%;
    pointer-events: none;
    transition: opacity 150ms ease-in-out;
    margin: 20px 30px;
}
#cards{
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns:repeat(1, 1fr);
    grid-gap: 1.5em;
}
.card{
    position: relative;
    transition: all 150ms ease-in-out;
    border-radius: 20px;
    opacity: 100%;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.685); */
    /* border: 2px solid black; */
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px black;
}
.black-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    border-radius: 18px;
    opacity: 70%;
    transition: opacity 150ms ease-in-out;
    cursor: pointer;
}
.black-overlay:hover{
    opacity: 0%;
}
.black-overlay:hover ~ .card-text{
    opacity: 0%;
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
form input, textarea{
    width: 100%;
    text-align: center;
    margin: 10px 0;
    /* height: 40px; */
    border-radius: 25px;
    border: 3px solid blue;
    outline: none;
    font-size: 25px;
}
textarea{
    height: 100px;
}
#submit{
    border: none;
    margin-bottom: 40px;
    background-color: crimson;
    color: white;
    transition: all 150ms ease-in-out;
}
#submit:hover{
    background-color: rgb(160, 14, 43);
    color: white;
}
footer{
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 50px 15px;
    /* margin-top: 10px; */
}
footer p{
    margin-bottom: 0;
    color: rgb(122, 122, 122);
}
#footer-p{
    color: crimson;
}
#footer-p a:hover{
    color: white;
    text-decoration: none;
}
footer a{
    color: inherit;
}
/* #resume{
    display: block;
    position: relative;
    width: 100%;
    border-radius: 10px;
    background-color: crimson;
    color: white;
    font-size: 30px;
    margin: 40px auto;
    text-align: center;
    transition: all 150ms ease-in-out;
} */
/* #resume:hover{
    background-color: rgb(160, 14, 43);
    text-decoration: none;
} */
#email-phone{
    color: rgb(206, 206, 206);
}
#easter-egg{
    color: rgb(78, 78, 78);
    display: none;
}
#headshot{
    width: 100%;
    float: left;
    border-radius: 20px;
    margin-bottom: 10px;
}
/* #body-1{
    height: min-content;
} */
.wrapper{
    display: flex;
    flex-direction: column;
}
#card-ex{
    margin-bottom: 40px;
    text-align: center;
}
audio {
    /* height: 40px; */
    width: 100%;
    border: 2px solid rgb(189, 189, 189);
    border-radius: 100px;
    outline: none;
    display: none;
}
#about-me-para{
    line-height: 40px;
    letter-spacing: .5px;
    /* font-size: 15px; */
    color: rgb(87, 87, 87);
}
#about-me-para a{
    color: rgb(73, 146, 255);
}
#easterButton{
    z-index: 20000;
    color: greenyellow;
    position: fixed;
    outline: none;
    margin: 20px;
    padding: 0px 10px;
    background-color: rgb(255, 0, 221);
    border: 5px solid;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    font-size: 50px;
    display: none;
    box-shadow: 0 0 40px;
    border-radius: 20px;
}


@media only screen and (min-width: 768px){
    audio {
        width: 75%;
    }
    #easter-egg{
        display: block;
    }
    #home-content{
        top: 40vh;
    }
    #home-content2{
        top: 37vh;
    }
    #headshot{
        width: 50%;
        margin-right: 20px;
    }
    fieldset{
        width: min-content;
        margin: 0 auto;
    }
    #submit{
        margin-right: auto;
        margin-left: auto;
    }
    #cards{
        grid-template-columns:repeat(2, 1fr);
        grid-gap: 1.5em;
    }
    p{
        font-size: 20px;
    }
    form input, textarea{
        font-size: 25px;
        width: 70vw;
        text-align: center;
        margin: 10px 0;
        height: 50px;
        border-radius: 15px;
        border: 3px solid blue;
        outline: none;
    }
    textarea{
        height: 100px;
    }
    #resume{
        width: 70%;
    }
}

@media only screen and (min-width: 1000px){
    .tps-wrapper{
        background-color: white;
    }
    .spacer{
        height: 0;
    }
    body{
        overflow-x: hidden;
        background: linear-gradient(crimson, black);
    }
    footer{
        position: absolute;
        width: 100vw;
        bottom: 0;
    }
    .main section{
        height: 100vh;
    }
    nav{
        width: fit-content;
        border-bottom-right-radius: 25px;
    }
    audio {
        width: 50%;
    }
    #card-ex{
        padding: 0 50px;
        margin-bottom: 0;
    }
    #home-content{
        top: 45vh;
    }
    #home-content2{
        top: 42vh;
    }
    #headshot{
        width: 25%;
    }
    #cards{
        grid-template-columns:repeat(4, 1fr);
        grid-gap: 1em;
        padding: 50px;
        width: 100%;
    }
    #full-name{
        width: 49.5%;
        float: left;
    }
    #email-address{
        width: 49.5%;
        float: right;
    }
    #submit{
        width: 50%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    .card-text{
        margin-top: 30px;
    }
    #resume{
        width: 50%;
    }
    .imgText{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}