*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: crimson;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(128, 10, 34);
}
.spacer{
    position: relative;
    height: 56px;
    /* border-bottom: 2px solid crimson; */
}
#body1{
    border-top: 2px solid black;
}
#about{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(./assets/keyboard.JPG);
    background-size: cover;
    display: flex;
    justify-content: center;
    color: crimson;
}
#home-content{
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    top: 45vh;
    height: fit-content;
}
#home-content2{
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    top: 42vh;
    transition: 700ms;
    height: fit-content;
}
#changing-text{
    font-family: 'Roboto Mono', monospace;
    text-shadow: 2px 2px 5px black;
}
#title{
    font-family: 'Roboto Mono', monospace;
    position: relative;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
#title-text2{
    opacity: 100;
    pointer-events: all;
    outline: none;
    transition: 500ms;
}
.know-me{
    opacity: 0;
    /* transition: opacity 700ms; */
    /* transition: left 700ms; */
    padding: 5px;
    margin-top: 20PX;
    width: fit-content;
    pointer-events: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    position: relative;
    color: white;
}
.know-me:hover{
    background-color: rgba(255, 255, 255, 0);
}
h2{
    text-align: center;
    color: crimson;
    font-size: 50px;
    margin: 10px 0;
}
.back{
    padding: 5px 20px 0;
}